
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["DuplicateRecord"] != null)
{
    <script type="text/javascript">

    window.onload = function () {
        /**/
        alert("@TempData["DuplicateRecord"]");

    /**/
    };

    </script>
}
<section id="sec1" class="s1-accessories">
    <center><h1>Smartphones</h1></center>
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-lg-4">
                <div class="container d-flex justify-content-center">
                    <figure class="card card-product-grid card-lg">
                        <a href="#" class="img-wrap" data-abc="true">
                            <img src="~/Images/Products/Mobile1.png">
                        </a>
                        <figcaption class="info-wrap">
                            <div class="row">
                                <div class="col-md-6 col-xs-9"> <a href="#" class="title" data-abc="true">Realme C15</a> <span class="rated">Smartphones</span> </div>
                                <div class="col-md-6 col-xs-3">
                                    <div class="rating text-right"> <i class="fa fa-star"></i>  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="rated">Rated 2.6/3</span> </div>
                                </div>
                            </div>
                        </figcaption>
                        <div class="bottom-wrap-payment">
                            <figcaption class="info-wrap">
                                <div class="row">
                                    <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">$145</a> <span class="rated">VISA Platinum</span> </div>
                                    <div class="col-md-3 col-xs-3">
                                        <div class="rating text-right"> #### 8787 </div>
                                    </div>
                                </div>
                            </figcaption>
                        </div>
                        <div class="bottom-wrap">
                            <a class="btn btn-primary float-right" data-abc="true" href="@Url.Action("getProduct", "Cart", new { name = "Realme C15", type = "Smartphone", price = 145, method = "Visa Platinum", img = "/Images/Products/Mobile1.png" })"> <i class="fas fa-shopping-cart"></i> Add to Cart </a>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container d-flex justify-content-center">
                    <figure class="card card-product-grid card-lg">
                        <a href="#" class="img-wrap" data-abc="true">
                            <img src="~/Images/Products/Mobile2.jpg">
                        </a>
                        <figcaption class="info-wrap">
                            <div class="row">
                                <div class="col-md-6 col-xs-9"> <a href="#" class="title" data-abc="true">Samsung A70</a> <span class="rated">Smartphones</span> </div>
                                <div class="col-md-6 col-xs-3">
                                    <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>  <span class="rated">Rated 3.0/3</span> </div>
                                </div>
                            </div>
                        </figcaption>
                        <div class="bottom-wrap-payment">
                            <figcaption class="info-wrap">
                                <div class="row">
                                    <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">$329</a> <span class="rated">VISA Platinum</span> </div>
                                    <div class="col-md-3 col-xs-3">
                                        <div class="rating text-right"> #### 8787 </div>
                                    </div>
                                </div>
                            </figcaption>
                        </div>
                        <div class="bottom-wrap">
                            <a class="btn btn-primary float-right" data-abc="true" href="@Url.Action("getProduct", "Cart", new { name = "Samsung A70", type = "Smartphone", price = 329, method = "Visa Platinum", img = "/Images/Products/Mobile2.jpg" })"> <i class="fas fa-shopping-cart"></i> Add to Cart </a>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container d-flex justify-content-center">
                    <figure class="card card-product-grid card-lg">
                        <a href="#" class="img-wrap" data-abc="true">
                            <img src="~/Images/Products/Mobile3.png">
                        </a>
                        <figcaption class="info-wrap">
                            <div class="row">
                                <div class="col-md-6 col-xs-9"> <a href="#" class="title" data-abc="true">Realme C12</a> <span class="rated">Smartphones</span> </div>
                                <div class="col-md-6 col-xs-3">
                                    <div class="rating text-right"> <i class="fa fa-star"></i>  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="rated">Rated 2.2/3</span> </div>
                                </div>
                            </div>
                        </figcaption>
                        <div class="bottom-wrap-payment">
                            <figcaption class="info-wrap">
                                <div class="row">
                                    <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">$188</a> <span class="rated">VISA Platinum</span> </div>
                                    <div class="col-md-3 col-xs-3">
                                        <div class="rating text-right"> #### 8787 </div>
                                    </div>
                                </div>
                            </figcaption>
                        </div>
                        <div class="bottom-wrap">
                            <a class="btn btn-primary float-right" data-abc="true" href="@Url.Action("getProduct", "Cart", new { name = "Realme C12", type = "Smartphone", price = 188, method = "Visa Platinum", img = "/Images/Products/Mobile3.png" })"> <i class="fas fa-shopping-cart"></i> Add to Cart </a>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sec2" class="s2-accessories">
    <center><h1>Laptops</h1></center>
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-lg-4">
                <div class="container d-flex justify-content-center">
                    <figure class="card card-product-grid card-lg">
                        <a href="#" class="img-wrap" data-abc="true">
                            <img src="~/Images/Products/laptop1.jpg">
                        </a>
                        <figcaption class="info-wrap">
                            <div class="row">
                                <div class="col-md-6 col-xs-9"> <a href="#" class="title" data-abc="true">Dell Latitude</a> <span class="rated">Laptops</span> </div>
                                <div class="col-md-6 col-xs-3">
                                    <div class="rating text-right"> <i class="fa fa-star"></i>  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="rated">Rated 2.5/3</span> </div>
                                </div>
                            </div>
                        </figcaption>
                        <div class="bottom-wrap-payment">
                            <figcaption class="info-wrap">
                                <div class="row">
                                    <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">$344.90</a> <span class="rated">VISA Platinum</span> </div>
                                    <div class="col-md-3 col-xs-3">
                                        <div class="rating text-right"> #### 8787 </div>
                                    </div>
                                </div>
                            </figcaption>
                        </div>
                        <div class="bottom-wrap">
                            <a class="btn btn-primary float-right" data-abc="true" href="@Url.Action("getProduct", "Cart", new { name = "Dell Latitude", type = "Laptop", price = 344, method = "Visa Platinum", img = "/Images/Products/laptop1.jpg" })"> <i class="fas fa-shopping-cart"></i> Add to Cart </a>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container d-flex justify-content-center">
                    <figure class="card card-product-grid card-lg">
                        <a href="#" class="img-wrap" data-abc="true">
                            <img src="~/Images/Products/laptop2.jpg">
                        </a>
                        <figcaption class="info-wrap">
                            <div class="row">
                                <div class="col-md-6 col-xs-9"> <a href="#" class="title" data-abc="true">Lenovo Ideapad</a> <span class="rated">Laptops</span> </div>
                                <div class="col-md-6 col-xs-3">
                                    <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>  <span class="rated">Rated 2.1/3</span> </div>
                                </div>
                            </div>
                        </figcaption>
                        <div class="bottom-wrap-payment">
                            <figcaption class="info-wrap">
                                <div class="row">
                                    <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">$996</a> <span class="rated">VISA Platinum</span> </div>
                                    <div class="col-md-3 col-xs-3">
                                        <div class="rating text-right"> #### 8787 </div>
                                    </div>
                                </div>
                            </figcaption>
                        </div>
                        <div class="bottom-wrap">
                            <a class="btn btn-primary float-right" data-abc="true" href="@Url.Action("getProduct", "Cart", new { name = "Lenovo Ideapad", type = "Laptop", price = 996, method = "Visa Platinum", img = "/Images/Products/laptop2.jpg" })"> <i class="fas fa-shopping-cart"></i> Add to Cart </a>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container d-flex justify-content-center">
                    <figure class="card card-product-grid card-lg">
                        <a href="#" class="img-wrap" data-abc="true">
                            <img src="~/Images/Products/laptop3.jpg">
                        </a>
                        <figcaption class="info-wrap">
                            <div class="row">
                                <div class="col-md-6 col-xs-9"> <a href="#" class="title" data-abc="true">HP ProBook</a> <span class="rated">Laptops</span> </div>
                                <div class="col-md-6 col-xs-3">
                                    <div class="rating text-right"> <i class="fa fa-star"></i>  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="rated">Rated 2.9/3</span> </div>
                                </div>
                            </div>
                        </figcaption>
                        <div class="bottom-wrap-payment">
                            <figcaption class="info-wrap">
                                <div class="row">
                                    <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">$859</a> <span class="rated">VISA Platinum</span> </div>
                                    <div class="col-md-3 col-xs-3">
                                        <div class="rating text-right"> #### 8787 </div>
                                    </div>
                                </div>
                            </figcaption>
                        </div>
                        <div class="bottom-wrap">
                            <a class="btn btn-primary float-right" data-abc="true" href="@Url.Action("getProduct", "Cart", new { name = "HP ProBook", type = "Laptop", price = 859, method = "Visa Platinum", img = "/Images/Products/laptop3.jpg" })"> <i class="fas fa-shopping-cart"></i> Add to Cart </a>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sec3" class="s3-accessories">
    <center><h1>Tablets</h1></center>
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-lg-4">
                <div class="container d-flex justify-content-center">
                    <figure class="card card-product-grid card-lg">
                        <a href="#" class="img-wrap" data-abc="true">
                            <img src="~/Images/Products/Tab2.jpg">
                        </a>
                        <figcaption class="info-wrap">
                            <div class="row">
                                <div class="col-md-6 col-xs-9"> <a href="#" class="title" data-abc="true">Samsung Tab A3</a> <span class="rated">Tablets</span> </div>
                                <div class="col-md-6 col-xs-3">
                                    <div class="rating text-right"> <i class="fa fa-star"></i>  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="rated">Rated 2.7/3</span> </div>
                                </div>
                            </div>
                        </figcaption>
                        <div class="bottom-wrap-payment">
                            <figcaption class="info-wrap">
                                <div class="row">
                                    <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">$569</a> <span class="rated">VISA Platinum</span> </div>
                                    <div class="col-md-3 col-xs-3">
                                        <div class="rating text-right"> #### 8787 </div>
                                    </div>
                                </div>
                            </figcaption>
                        </div>
                        <div class="bottom-wrap">
                            <a class="btn btn-primary float-right" data-abc="true" href="@Url.Action("getProduct", "Cart", new { name = "Samsung Tab A3", type = "Tablet", price = 569, method = "Visa Platinum", img = "/Images/Products/Tab2.jpg" })"> <i class="fas fa-shopping-cart"></i> Add to Cart </a>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container d-flex justify-content-center">
                    <figure class="card card-product-grid card-lg">
                        <a href="#" class="img-wrap" data-abc="true">
                            <img src="~/Images/Products/Tab1.jpeg">
                        </a>
                        <figcaption class="info-wrap">
                            <div class="row">
                                <div class="col-md-6 col-xs-9"> <a href="#" class="title" data-abc="true">Samsung Tab C3</a> <span class="rated">Tablets</span> </div>
                                <div class="col-md-6 col-xs-3">
                                    <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>  <span class="rated">Rated 2.6/3</span> </div>
                                </div>
                            </div>
                        </figcaption>
                        <div class="bottom-wrap-payment">
                            <figcaption class="info-wrap">
                                <div class="row">
                                    <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">$423</a> <span class="rated">VISA Platinum</span> </div>
                                    <div class="col-md-3 col-xs-3">
                                        <div class="rating text-right"> #### 8787 </div>
                                    </div>
                                </div>
                            </figcaption>
                        </div>
                        <div class="bottom-wrap">
                            <a class="btn btn-primary float-right" data-abc="true" href="@Url.Action("getProduct", "Cart", new { name = "Samsung Tab C3", type = "Tablet", price = 423, method = "Visa Platinum", img = "/Images/Products/Tab1.jpeg" })"> <i class="fas fa-shopping-cart"></i> Add to Cart </a>
                        </div>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container d-flex justify-content-center">
                    <figure class="card card-product-grid card-lg">
                        <a href="#" class="img-wrap" data-abc="true">
                            <img src="~/Images/Products/Tab3.jpg">
                        </a>
                        <figcaption class="info-wrap">
                            <div class="row">
                                <div class="col-md-6 col-xs-9"> <a href="#" class="title" data-abc="true">Apple Pro 11</a> <span class="rated">Tablets</span> </div>
                                <div class="col-md-6 col-xs-3">
                                    <div class="rating text-right"> <i class="fa fa-star"></i>  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="rated">Rated 2.9/3</span> </div>
                                </div>
                            </div>
                        </figcaption>
                        <div class="bottom-wrap-payment">
                            <figcaption class="info-wrap">
                                <div class="row">
                                    <div class="col-md-9 col-xs-9"> <a href="#" class="title" data-abc="true">$1,009</a> <span class="rated">VISA Platinum</span> </div>
                                    <div class="col-md-3 col-xs-3">
                                        <div class="rating text-right"> #### 8787 </div>
                                    </div>
                                </div>
                            </figcaption>
                        </div>
                        <div class="bottom-wrap">
                            <a class="btn btn-primary float-right" data-abc="true" href="@Url.Action("getProduct", "Cart", new { name = "Apple Pro 11", type = "Tablet", price = 1009, method = "Visa Platinum", img = "/Images/Products/Tab3.jpg" })"> <i class="fas fa-shopping-cart"></i> Add to Cart </a>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>


