@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Model Begin-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-light" id="staticBackdropLabel">Order Details</h5>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("addOrder", "Cart", FormMethod.Post, new { onSubmit = "return validate()" }))
            {
                <div class="modal-body text-light">

                    <div class="mb-3">
                        <label for="Username" class="form-label">Username:</label>
                        <input name="username" type="text" class="form-control" id="Username" value="@ViewBag.username" aria-describedby="userHelp" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input name="email" type="text" class="form-control" id="email" value="@ViewBag.email" aria-describedby="userHelp" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="phone#" class="form-label">Phone#</label>
                        <input name="phone" type="text" class="form-control" id="phone#" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" maxlength="11">
                        <div id="errorPhone" style="color:red;" class="form-text"></div>
                    </div>
                    <div class="mb-3">
                        <label for="addr" class="form-label">Address:</label>
                        <input name="address" type="text" id="addr" class="form-control" placeholder="Streetname/City/Country" />
                        <div id="errorAddr" style="color:red;" class="form-text"></div>
                    </div>
                    <div class="mb-3">
                        <label for="tbNum" class="form-label">Card Pin#</label>
                        <input name="pinnumber" type="text" id="tbNum" class="form-control" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" maxlength="19" onkeyup="addHyphen(this)" placeholder="Enter your Card pin number" />
                        <div id="errorPin" style="color:red;" class="form-text"></div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" value="submit" class="btn btn-primary">Confirm Order</button>
                </div>
            }
            </div>
    </div>
</div>
<!--Model End-->
<section class="cart-section">
    <center><h1 class="mb-5">Your Cart</h1></center>
    @if (Model.Rows.Count > 0)
    {
        int total_amount = 0;
        double discount_amount=0;
        <div class="container">
            <div class="cart-box p-0 pb-0 mb-2">
                <div class="row text-center">
                    <div class="col-md-3 col-sm-12">
                    </div>
                    <div class="col-md-3">
                        <h4>Product</h4>
                    </div>
                    <div class="col-md-3"> <h4>Price</h4> </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
        for (int i = 0; i < Model.Rows.Count; i++)
        {
            double discountPrice = 0;
            <div class="container mb-4">
                <div class="cart-box">
                    <div class="row text-center">
                        <div class="col-md-3 col-sm-12">
                            <img src="@Model.Rows[i]["image"].ToString()" class="cimg img-fluid img-thumbnail">
                        </div>
                        <div class="col-md-3 text-md-start text-dark  pt-md-4">
                            <h1>@Model.Rows[i]["pname"].ToString()</h1>
                            <p class="text-black-50">@Model.Rows[i]["ptype"].ToString()</p>
                            <p class="text-primary"><span class="text-black-50">Purchasing Plan</span>: @Model.Rows[i]["payment_method"].ToString()</p>
                        </div>
                        @if(!Convert.IsDBNull(Model.Rows[i]["Discount"]))
                        {
                                discountPrice= (Int32.Parse(Model.Rows[i]["price"].ToString()) - (Int32.Parse(Model.Rows[i]["price"].ToString()) * Int32.Parse(Model.Rows[i]["Discount"].ToString()))/ 100);
                        <div class="col-md-3 text-primary pt-md-4"> <s>$@Model.Rows[i]["price"].ToString()</s> <h1>$@discountPrice</h1> </div>
                        }
                        else
                        {
                            discountPrice = Int32.Parse(Model.Rows[i]["price"].ToString());
                        <div class="col-md-3 text-primary pt-md-4"> <h1>$@Model.Rows[i]["price"].ToString()</h1> </div>
                        }

                        <div class="col-md-3 pt-md-4 mt-2">
                            <a class="btn btn-outline-danger" href="@Url.Action("deleteCart", "Cart", new { id = @Model.Rows[i]["C_id"].ToString() })"> <i class="far fa-trash-alt"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            discount_amount = discount_amount + discountPrice;
            total_amount = total_amount + Int32.Parse(@Model.Rows[i]["price"].ToString());
        }
        <div class="container">
            <div class="cart-box p-1 mb-2">
                <div class="row text-center">
                    <div class="col-md-6 mt-1"> <h4>Total Amount:<span class="text-primary"> <s>$@total_amount</s> $@discount_amount</span></h4> </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary rounded-pill px-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Order Now
                        </button>
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="empty-cart">
                <div class="row text-center">
                    <h3 style="color:red">Your Cart is Empty righnow.</h3>
                    <p style="color:red;"><u><a style="color:red;text-decoration: none" href="~/Home/Accessories">Click here</a></u> to buy your favourite stuff from Accessories now.</p>
                </div>
            </div>
        </div>
    }
</section>
@section Orderjs{
    <script src="~/Scripts/JS Files/Order.js"></script>
}